@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #BE89B1;
    --foreground: #121f1c;
    --card: #F7CCD7;
    --card-foreground: #121f1c;
    --popover: 0 0% 100%;
    --popover-foreground: #121f1c;
    --primary: #F1F8FA;
    --primary-foreground: #121f1c;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: #121f1c;
    --muted: #29388F;
    --muted-foreground: #29388F;
    --accent: #F7CCD7;
    --accent-foreground: #121f1c;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: #121f1c;
    --radius: 0.5rem;
    --user-chat-bubble: #F1F8FA;
    --llm-chat-bubble: #F7CCD7;
  }

  .dark {
    --background: #BE89B1;
    --foreground: #121f1c;
    --card: #F7CCD7;
    --card-foreground: #121f1c;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: #121f1c;
    --primary: #F1F8FA;
    --primary-foreground: #121f1c;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: #121f1c;
    --muted: #29388F;
    --muted-foreground: #29388F;
    --accent: #F7CCD7;
    --accent-foreground: #121f1c;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: #121f1c;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: #121f1c;
    --user-chat-bubble: #F1F8FA;
    --llm-chat-bubble: #F7CCD7;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-poppins);
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

